#loader_wrapper {
  width: 100%;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#loader_wheel span {
  display: block;
  width: min(55vw, 12rem);
  aspect-ratio: 1/1;
  border: 3px solid gray;
  border-top: 3px solid #40c0f1;
  border-radius: 50%;
  animation: rotate 2.5s linear infinite;
}

#loader_desc {
  margin-top: 1.5rem;
  font-size: 1.125rem;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1000px) {
  #loader_wrapper {
    height: calc(100vh - 7rem);
  }
}

@media only screen and (max-width: 600px) {
  #loader_wrapper {
    height: calc(100vh - 10rem);
  }
}
